{% extends "../../../templates/support_template.html" %}
{% block css_requires %}
<link type="text/css" media="screen" href="/css/firstTime.css" rel="stylesheet" />
<link type="text/css" media="screen" href="/css/formcheck/theme/classic/formcheck.css" rel="stylesheet" />
{% endblock %}
{% block js_requires %}
	
	
</script>
{% endblock %}
{% block content %}

<p>Hola {% if account.name %}{{account.name}} {{account.surname}} {%else%} {{account.email}}{%endif%}, si te encontraste con algún problema de la aplicación o quieres darnos retroalimentación, por favor, llena el siguiente formulario.</p>

<form method="post" action="/support/contact/" class="stdForm" name="form_contact" id="form_contact">
	<input type="hidden" name="come_back" value="{{come_back}}" />
	<input type="hidden" name="error_url" value="{{error_url}}" />
	<div>
		<p>Módulo que estaba utilizando: <input type="halfInput" name="module" /><em>(ej: cursos, alumnos, compromisos, etc.)</em></p>
		<p>Actividad que estaba realizando: <input type="halfInput" name="activity" /><em>(ej: listando, agregando)</em></p>
		<p>Detalle de la actividad y/o retroalimentación</p>
		<p>
			<textarea rows="5" cols="80" name="detail"></textarea>
		</p>
		<input type="submit" value="Enviar" />
	</div>
</form>

{% endblock content %}