{% extends "../../../templates/main_template.html" %}
{% block content %}
<h1>Glosario</h1>
<dl>
	<dt><a name="ALIMENTACION">ALIMENTACION</a></dt>
	<dd>	Selección del tipo,  cantidad,  forma de preparar e ingerir alimentos y tiene como propósito primordial satisfacer el hambre. Constituye un proceso voluntario, pero el ambiente familiar determina nuestros hábitos alimentarios.</dd>
	
	<dt><a name="NUTRICION">NUTRICION</a></dt>
	<dd>	Conjunto de procesos mediante los cuales el organismo, absorbe, desdobla, transforma y utiliza las sustancias nutritivas que se encuentran en los alimentos, una vez que éstos han sido ingeridos.</dd>
		
	<dt><a name="DIETA">DIETA</a></dt>
	<dd>	Consiste en un conjunto de alimentos que, preparados y mezclados de determinada manera, conforman los platos que ingerimos diariamente.</dd>
		
	<dt><a name="ABSORCIÓN">ABSORCIÓN</a></dt>
	<dd>	Transferencia de nutrientes desde el tubo digestivo al torrente sanguíneo para ser transportados a las diferentes células del organismo.</dd>
		
	<dt><a name="NUTRIENTE">NUTRIENTE</a></dt>
	<dd>	Sustancia presente en los alimentos que permiten satisfacer las necesidades del organismo.</dd>
		
	<dt><a name="ESENCIAL">NUTRIENTE ESENCIAL</a></dt>
	<dd>	Nutriente que debe estar presente en la dieta ya que el organismo no puede sintetizarlo a partir de otros nutrientes.</dd>
		
	<dt><a name="VITAMINA">VITAMINA</a></dt>
	<dd>	Sustancia que se encuentra en los alimentos en pequeñas cantidades y es esencial para el organismo. Ellas armonizan y regulan el funcionamiento de todo el organismo.</dd>
		
	<dt><a name="ARTERIOESCLEROSIS">ARTERIOESCLEROSIS</a></dt>
	<dd>	Engrosamiento de las paredes de los vasos sanguíneos por depósito de materiales grasos.</dd>
		
	<dt><a name="CALORIA">CALORIA</a></dt>
	<dd>	Unidad que permite medir el aporte nutricional energético de los alimentos.   </dd>
		
	<dt><a name="ESTITIQUEZ">ESTREÑIMIENTO=ESTITIQUEZ</a></dt>
	<dd>	Retraso y dificultad para evacuar el contenido intestinal.</dd>
		
	<dt><a name="PROTEINAS">PROTEINAS</a></dt>
	<dd>	Son sustancias nutritivas cuya función principal es formar tejidos estructurales tales musculo, huesos, sangre, uñas, pelo, etc. Son fundamentales para crecer y reparar células. También aportan energía cuando se requiere. Su consumo excesivo se acumula en nuestro cuerpo en forma de grasa.  </dd>
	
	<dt><a name="CARBOHIDRATOS">CARBOHIDRATOS</a></dt>
	<dd>	Son sustancias nutritivas que proporcionan calorías. Dan la energía necesaria al cuerpo para realizar todas las actividades tales como moverse, desarrollar trabajos y también ayudan a mantener estable la temperatura del cuerpo. </dd>
		
	<dt><a name="ACEITES">LIPIDOS = GRASAS = ACEITES</a></dt>
	<dd>	Representan la mayor fuente de energía para el organismo. Y también transportan en nuestro organismo las vitaminas solubles en grasas (A-D-E y K). </dd>
		
	<dt><a name="AGUA">AGUA</a></dt>
	<dd>	Es un nutriente esencial y cumple  múltiples funciones en nuestro cuerpo,  medio de transporte de nutrientes hacia las células y de desechos desde estas.</dd>
		
	<dt><a name="MINERALES">MINERALES</a></dt>
	<dd>	Cumplen funciones parecidas a las vitaminas, además forman parte de estructuras vitales del organismo: huesos, dientes, glóbulos rojos, etc.</dd>
		
	<dt><a name="PORCIONES">PORCIONES</a></dt>
	<dd>	Cantidad de alimento que habitualmente se consume.</dd>
		
	<dt><a name="ABSORCION">ABSORCION</a></dt>
	<dd>	Proceso por el cual los nutrientes contenidos en los alimentos pasan al torrente sanguíneo para que puedan llegar a todas las células del cuerpo.</dd>
	<dt><a name="DIGESTION">DIGESTION</a></dt>
	<dd>	Proceso por el cual los nutrientes contenidos en los alimentos son pasan al torrente sanguíneo para que puedan llegar a todas las células del cuerpo.</dd>
		
	<dt><a name="MALNUTRICION">MALNUTRICION</a></dt>
	<dd>	Se refiere alteración nutricional que puede deberse tanto a un déficit (desnutrición) como a un exceso (sobrepeso u obesidad) en la ingesta de  alimentos.</dd>
		
	<dt><a name="FIBRA DIETARIA">FIBRA DIETARIA</a></dt>
	<dd>	Parte contenida en los alimentos que nuestro organismo no es capaz de digerirlo, pero que se ha observado que tiene múltiples beneficios para la salud  (favorece la digestión normal, contribuye a mantener los lípidos sanguíneos dentro de niveles estables, entre otros beneficios).</dd>
		
	<dt><a name="MICRONUTRIENTES">MICRONUTRIENTES</a></dt>
	<dd>	Sustancias que deben ser consumidas  en cantidades muy  pequeñas (microgramos).</dd>
		
	<dt><a name="MACRONUTRIENTES">MACRONUTRIENTES</a></dt>
	<dd>	Sustancias que deben ser consumidas  en cantidades más grandes que los micronutrientes  (gramos).</dd>
</dl>	
{% endblock content %}