{% extends "../../../templates/main_template.html" %}
{% block header %}
<header class="jumbotron masthead" id="overview"> 
  <div class="inner"> 
    <div class="container"> 
      <h1>Leonardo Luarte González</h1> 
      <p class="lead"> 
        Ingeniero Civil Industrial en Tecnologías de la Información, coordinador desarrollo tecnología Ingreso 
        Ético Familiar del <a href="http://www.desarrollosocial.cl">Ministerio de Desarrollo Social</a>.
<br />Fotógrafo aficionado, fanático de los viajes y la cocina. Gustoso de un buen libro o una buena película.
<br />Fanático de aprender nuevas cosas, útiles o no. Sin miedo al emprendimiento.
      </p> 
    </div><!-- /container --> 
  </div> 
</header> 
{%endblock header%}
{% block content %}
<h1>Lo más nuevo</h1>
<p>No es que esté lleno aún de contenido, pero lo más reciente lo podrás ver por aquí. Puedes por mientras seguir <a href="http://twitter.com/lomefin">mi twitter</a>, o ver <a href="http://blogpocooriginal.blogspot.com">mi blog</a>, o ver mis fotos en <a href="http://www.flickr.com/photos/18376925@N04/">flickr</a> o en <a href="http://lomefin.deviantart.com/">deviantart</a>.</p>		
<div style="float:right; width:300px;border-left: 1px solid black; padding-left:5px">
	<h2>Noticias</h2>
	{% for element in news %}
		<h3><a href="/news/">{{element.title}}</a></h3>
		<p>{{element.text|truncatewords_html:20}}</p>
	{% endfor %}	
</div>
<h2>Artículos</h2>
{% for element in posts %}
	<h3><a href="/posts/{{element.key.id}}">{{element.title}}</a></h3>
	<p>{{element.text|truncatewords_html:20|removetags:"img"}}</p>
	<p><a href="/posts/{{element.key.id}}">Leer más de {{element.title}}</a></p>
{% endfor %}
{% endblock content %}