{% extends "../../../templates/admin_template.html" %}
{% block content %}

<h1>Crear Pregunta para la trivia <a href="">{{trivia_name}}</a></h1>

<form method="post" action="addQuestion">
	<h2>Datos de la Pregunta</h2>
	<table border="0">
		<tr>
			<th>Pregunta:</th>
			<td>
				<input type="text" name="question_text" />
			</td>
		</tr>
		<tr>
			<th>Feedback pregunta:</th>
			<td>
				<input type="text" name="feedback_text" />
			</td>
		</tr>
		<tr>
			<th>Frase:</th>
			<td>
				<input type="text" name="phrase_text" />
			</td>
		</tr>
	</table>
	<table>
		<tr>
			<th>Alternativa</th>
			<th>Texto alternativa</th>
			<th>Correcta?</th>
			<th>Feedback alternativa</th>
		</tr>
		
		{% for i in range3 %}
		<tr>
			<td>
				{{i}}
			</td>
			<td>
				<input type="text" name="alternative{{i}}_text" />
			</td>
			<td>
				<input type="checkbox" name="correct_alternative{{i}}" value="True" /> 
			</td>
			<td>
				<input type="text" name="feedback{{i}}_text" />
			</td>
		</tr>	
		{% endfor %}
		<tr><td colspan="2"><input type="submit" value="Crear" /></td></tr>
	</table>
	
	
</form>


{% endblock content %}


