{% extends "../../../templates/admin_template.html" %}
{% block content %}

<h1>Agregar Elemento Alimenticio</h1>

<form method="post" action="add">
	<h2>Datos del Alimento</h2>
	<table border="1">
		<thead>
			<tr>
				<th>Nombre:</th>
				<td colspan="3">
					<input type="text" name="name"/>
				</td>
			</tr>
			<tr>
				<th>Unidad:</th>
				<td >
					<select name="unit">
						<option value="cucharada">cucharada</option>
						<option value="cucharadita">cucharadita</option>
						<option value="plato">plato</option>
						<option value="pote">pote</option>
						<option value="presa">presa</option>
						<option value="rebanada">rebanada</option>
						<option value="tajada">tajada</option>
						<option value="tarro"> tarro </option>
						<option value="taza">taza</option>
						<option value="torreja">torreja</option>
						<option value="trozo">trozo</option>
						<option value="unidad">unidad</option>
						<option value="vaso">vaso</option>
					</select>
				</td>
				<td colspan="2">Seleccione una</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th colspan="4">Aporte de Macronutrientes</th>
			</tr>
			<tr>
				<th>Proteinas</th>
				<td><input name="protein_calories" /></td>
				<td colspan="2">(calor&iacute;as por unidad)</td>
			</tr>
			<tr>
				<th>Grasas</th>
				<td><input name="fat_calories" /></td>
				<td colspan="2">(calor&iacute;as por unidad)</td>
			</tr>
			<tr>
				<th>Carbohidratos</th>
				<td><input name="carb_calories" /></td>
				<td colspan="2">(calor&iacute;as por unidad)</td>
			</tr>
		</tbody>
		<tfoot>
			<tr><th colspan="4">Disponibilidad Horaria</th></tr>
			<tr>
				<td><input type="checkbox" name="serves_breakfast" value="true" />Desayuno</td>
				<td><input type="checkbox" name="serves_lunch" value="true" />Almuerzo</td>
				<td><input type="checkbox" name="serves_dinner" value="true" />Once/Cena</td>
				<td><input type="checkbox" name="serves_snack" value="true" />Colaci&oacute;n</td>
			</tr>
			<tr>
				<td colspan="4">
					<input type="submit" value="Crear" />
				</td>
			</tr>
		</tfoot>
		
	</table>
	
	
</form>


{% endblock content %}

