{% extends "../../../templates/admin_template.html" %}
{% block content %}

<h1>Crear Trivia</h1>

<form method="post" action="add">
	<h2>Datos de la Trivia</h2>
	<table border="0">
		<tr>
			<th>Nombre de la trivia:</th>
			<td>
				<input type="text" name="trivia_name" />
			</td>
		</tr>
		<tr>
			<th>Mensaje respuesta correcta</th>
			<td>
				<input type="text" name="default_correct_feedback" />
			</td>
		</tr>	
		<tr>
			<th>Mensaje feedback general</th>	
			<td>
				<input type="text" name="default_general_feedback" />
			</td>
		</tr>
		<tr>
			<th>Mensaje respuesta incorrecta</th>
			<td>
				<input type="text" name="default_wrong_feedback" />
			</td>
		</tr>
		<tr><td colspan="2"><input type="submit" value="Crear" /></td></tr>
	</table>
	
	
</form>


{% endblock content %}


