{% extends "../../../templates/admin_template.html" %}
{% block content %}

<h1>Nuevo usuario agregado</h1>
<p>Esta lista contiene todos los usuarios correctamente agregados al sistema, por favor, tome note de sus nombres de usuario y password</p>
<table border="0">
	<thead>
		<tr><th>Nombre</th><th>Apellido</th><th>Nombre de usuario</th><th>Password</th></tr>
	</thead>
	<tbody>
		{% for user in created_users %}
		<tr>
			<td>{{user.name}}</td><td>{{user.surname}}</td><td>{{user.system_login}}</td><td>{{user.system_password}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
	
<a href="/admin/users/add">Agregar m&aacute;s usuarios</a>

{% endblock content %}
