{% extends "../../../templates/admin_template.html" %}
{% block content %}

<h1>Nuevos alumnos agregados</h1>
<p>Esta lista contiene todos los usuarios correctamente agregados al sistema, por favor, tome note de sus nombres de usuario y password</p>
<table border="0">
	<thead>
		<tr><th>Nombre</th><th>Apellido</th><th>Nombre de usuario</th><th>Password</th></tr>
	</thead>
	<tbody>
		{% for student in created_users %}
		<tr>
			<td>{{student.name}}</td><td>{{student.surname}}</td><td>{{student.system_login}}</td><td>{{student.system_password}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
	
<a href="/admin/students/add">Agregar m&aacute;s alumnos</a>

{% endblock content %}
