{% extends "../../../templates/admin_template.html" %}
{% block content %}

<h1>Asignar profesores a curso {{class.name}} {{class.year}} de {{class.school.name}}</h1>
{% if class.teacher %}
<p>El curso está asignado actualmente al profesor {{class.teacher.user.name}} {{class.teacher.user.surname}}</p>
{% endif %}
<h2>Asignar un nuevo profesor</h2>
{% for teacher in class.school.school_teachers %}
	<p><a href="/admin/classes/{{class.key.id}}/assign/{{teacher.key.id}}">{{teacher.user.name}} {{teacher.user.surname}}</a></p>
{% endfor %}
{% endblock content %}

