{% extends "../../../templates/admin_template.html" %}
{% block content %}

<h1>Lista de Profesores de {{school.name}}</h1>

{% if school.school_teachers %}
	
	{% for teacher in school.school_teachers %}
	<div>
		<h2>{{teacher.user.name}} {{teacher.user.surname}}</h2>
		<h3>Cursos a cargo</h3>
		<div>
			{% for class in teacher.classes_list%}
			<p>{{class.name}} ({{class.year}}</p>
			{% endfor %}
		</div>
	</div>
	{% endfor %}

{% else %}
	<p>No hay profesores para este colegio</p>
{% endif %}
<table>
	
</table>

{% endblock content %}

