{% extends "../../../templates/admin_template.html" %}
{% block content %}

<h1>Lista de Cursos de {{class.school.name}}</h1>

{% if class.class_students %}
	{% for student in class.class_students %}
	<div class="studentListElement" style="height: 300px; width:100px; border: 1px solid black; background-color: #ccccff; color: white">
		<img src="/img/avatars/{{student.student_avatar.sex}}-{{student.student_avatar.prefix}}-normal.png" height="200px"/>
		<p>{{student.student_account.system_login}}</p>
		<p>{{student.student_account.surname}}, {{student.student_account.name}}</p>
		<p>Altura: {{student.student_height}}</p>
		<p>Peso: {{student.student_weight}}</p>
	</div>
	{% endfor %}

{% else %}
	<p>No hay cursos para este colegio</p>
{% endif %}
<table>
	
</table>

{% endblock content %}

