{% extends "../../../templates/admin_template.html" %}
{% block content %}

<h1>Definiendo semanas para colegio {{school.name}}</h1>
<p>Seleccione las fechas a las que corresponderá cada semana del colegio y que actividades están permitidas.</p>
<p>Se pueden excluir semanas y periodos completos, pueden saltarse los numeros de semana.</p>
<form action="" method="post">
	<table>
		<tr><th>Semana</th><th>Inicio</th><th>Fin</th><th>Trivia</th><th>Que Comi</th><th>Compromisos</th></tr>
	{% for week in week_numbers %}
		<tr>
			<td>{{week}}</td>
			<td><input type="text" id="weekStart{{week}}" name="weekStart{{week}}" /></td>
			<td><input type="text" id="weekEnd{{week}}" name="weekEnd{{week}}" /></td>
			<td><input type="checkbox" name="triviaWeeks{{week}}" value="yes"/></td>
			<td><input type="checkbox" name="foodLogWeeks{{week}}" value="yes"/></td>
			<td><input type="checkbox" name="todoWeeks{{week}}" value="yes"/></td>
		</tr>
	{% endfor %}
	</table>
	<input type="hidden" name="year" value="{{year}}" />
	<input type="submit" value="Definir" />
</form>


{% endblock content %}
{% block js_activities %}
<script type="text/javascript">
		
	
	window.addEvent('domready', function() 
	{
		{% for week in week_numbers %}
		var calendarXIa = new CalendarEightysix('weekStart{{week}}',  { 'toggler': 'weekStart{{week}}','defaultView': 'year', 'theme': 'vista','format': '%d/%m/%Y','disallowUserInput': true, 'offsetY': -4 });
		var calendarXIb = new CalendarEightysix('weekEnd{{week}}',  { 'toggler': 'weekEnd{{week}}', 'defaultView': 'year','theme': 'vista','format': '%d/%m/%Y','disallowUserInput': true, 'offsetY': -4 });
		
		/*calendarXIa.addEvent('change', function(date) {
			alert('change');
			date = date.clone().increment('day',7); //At least one day higher; so increment with one day
			//var calendarXIb = document.getElementById('weekEnd{{week}}');
			calendarXIb.setDate(date);
			//calendarXIb.options.minDate = date; //Set the minimal date
			//if(calendarXIb.getDate().diff(date) >= 1) calendarXIb.setDate(date); //If the current date is lower change it
			//else calendarXIb.render(); //Always re-render
			
			});*/
		{% endfor %}
		MooTools.lang.set('es-CL', 'Date', {
				months:    ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
				days:      ['domingo', 'lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado'],
				dateOrder: ['date', 'month', 'year', '/']
			});
		MooTools.lang.setLanguage('es-CL');
	})
	//Form validation
	function validateDate(el)
	{
		if (!el.value.test(/(0[1-9]|[12][0-9]|3[01])\/(0[1-9]|1[012])\/\d\d\d\d/)) {
			el.errors.push("La fecha no es valida");
			return false;
		} else {
			return true;
		}
	}
</script>
{% endblock js_activities %}
