body
{
	margin: 10px 0px 0px 0px;
	color: white;
	background-image:url(/img/bgNoise.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
}
a
{
	text-decoration: none;
	font-weight: bold;
}
	a:visited{color: inherit;}
	a:link{color:inherit;}
#mainContainer
{
	background-color: black;
	width: 1000px;
	margin: 0px auto;
	padding: 0px 10px 10px 10px;
	min-height: 550px;
	border: 2px solid #55aa55;
	border-radius : 14px;
	opacity: 0.9;
}
#menuContainer
{
	/*background-color: #262626;*/
	background-color: #5555aa;
	color: white;
	text-align: right;
	text-transform:uppercase;
}
	#menuContainer span
	{
		margin-right: 10px;
	}
	#menuContainer span:hover
	{
		background-color: #cccccc;
	}
	#menuContainer a
	{
		font-weight: normal;
	}
#flashContainer
{
	text-align:center;
	border-radius: 3px;
}
	.normalFlash{	background-color: #5555aa;}
	.successFlash {	background-color: #55aa55;}
	.errorFlash{	background-color: #aa5555;}
#bodyContainer
{
	min-height: 450px;
}
	
#footerContainer
{
	text-align:center;
}
.bottomSeparator
{
	border-top: 1px solid #5555aa;
}