{% extends "../../../templates/admin_template.html" %}
{% block content %}

<h1>Agregar Curso</h1>

<form method="post" action="add">
	<h2>Datos del Curso</h2>
	<table border="0">
		<tr>
			<th>Nombre del Colegio:</th>
			<td colspan="5">
				<select name="school_id">
					{% for school_data in school_list%}
						<option value="{{school_data.key.id}}">{{school_data.name}}</option>
					{% endfor %}
				</select>
			</td>
		</tr>
		<tr>
			<th>Nivel del Curso:</th>
			<td>
				<select name="class_level">
					<option value="5">5</option>
					<option value="6">6</option>
				</select>
			</td>
			<th>Letra Curso:</th>
			<td>
				<select name="class_letter">
					{% for letter in letters %}
						<option value="{{letter}}">{{letter}}</option>
					{% endfor %}
				</select>
			</td>
			<th>A&ntilde;o Curso:</th>
			<td>
				<input type="text" name="class_year" value="{{current_year}}"/>
			</td>
		</tr>
		<tr><td colspan="2"><input type="submit" value="Crear" /></td></tr>
	</table>
	
	
</form>


{% endblock content %}

