{% extends "../../../templates/teacher_template.html" %}
{% block content %}

<h1>Lista de alumnos de {{class.name}} {{class.year}}</h1>

{% if class.class_students %}
	{% for student in class.class_students %}
	<div class="studentListElement" style="height: 300px; width:100px; border: 1px solid black; margin:10px; background-color: #ccccff; color: white;float:left">
		{% if student.has_started %}
		<img src="/img/avatars/{{student.student_avatar.sex}}-{{student.student_avatar.prefix}}-normal.png" height="200px"/>
		{% endif %}
		<p>{{student.student_account.system_login}}</p>
		<p>{{student.student_account.surname}}, {{student.student_account.name}}</p>
		{% if student.has_started %}
		<p>Altura: {{student.student_height}}</p>
		<p>Peso: {{student.student_weight}}</p>
		{% endif %}
		<p><a href="/teacher_panel/students/{{student.key.id}}/details">Ver detalles</a></p>
	</div>
	{% endfor %}

{% else %}
	<p>No hay alumnos para este curso</p>
{% endif %}
<div class="clear" style="clear:both"></div>
<p><a href="/teacher_panel/students/{{class.key.id}}/add">Agregar alumnos a este curso</a></p>
<table>
	
</table>

{% endblock content %}

