{% extends "../../../templates/main_template.html" %}
{% block content %}

<h1>Acerca</h1>
<p>Ingeniero de Proyectos, área aplicaciones móviles en <a href="http://www.neonline.cl">Neonline</a>.</p>
<p>Fotógrafo aficionado, fanático de los viajes y la cocina. Gustoso de un buen libro o una buena película.</p>
<p>Fanático de aprender nuevas cosas, útiles o no. Sin miedo al emprendimiento.</p>



<h1>Currículum</h1>
<h2>Experiencia Laboral</h2>
<h4>2010 - Actualidad</h4>
<p>Ingeniero de proyectos en <a href="http://www.neonline.cl">Neonline</a>.</p>
<h4>2010 - 2011</h4>
<p>Jefe de desarrollo proyecto MeKuido</p>
<h4>2009 - 2010</h4>
<p>Desarrollador en iConstruye</p>
<h4>2009 - 2010</h4>
<p>Asistente administrador de sistemas del <a href="http://dcc.ing.puc.cl"> Departamento de Ciencia de la Computación</a>, Pontificia Universidad Católica de Chile</p>
<h4>2008</h4>
<p>Desarrollador proyecto sitio web de becas FEUC</p>
<h4>2007-2008</h4>
<p>Desarrollador en Hurst Labelling Systems Chile</p>
<h4>2006 - 2008</h4>
<p>Administrador web portal <a href="http://www.mundomaritimo.cl">Mundo Marítimo</a> y plataforma de e-learning.</p>
<h4>2005-2007</h4>
<p>Profesor en Escuela de Asistentes Técnicos</p>
<h4>2006</h4>
<p>Jefe área web Servidores para Chile</p>
<h2>Actividades Universitarias</h2>
<h3>Ayudantías</h3>
<h4>2009 - Actualidad</h4>
<p>Ayudante curso Taller: Proyecto de especialidad del <a href="http://dcc.ing.puc.cl"> Departamento de Ciencia de la Computación</a>, Pontificia Universidad Católica de Chile</p>
<h4>2008</h4>
<p>Ayudante curso Introducción a las Tecnologías Computacionales del <a href="http://dcc.ing.puc.cl"> Departamento de Ciencia de la Computación</a>, Pontificia Universidad Católica de Chile</p>
<h4>2005 - 2009</h4>
<p>Ayudante curso Introducción a la Programación  del <a href="http://dcc.ing.puc.cl"> Departamento de Ciencia de la Computación</a>, Pontificia Universidad Católica de Chile</p>
<h3>Proyectos Universitarios</h3>
<h4>2010</h4>
<p>Líder equipo de curso Evaluación de Proyectos. Evaluación proyecto de implementación de radiología digital en la Asociación Chilena de Seguridad en la región de Bio-bío</p>
<h4>2009</h4>
<p>Jefe de Equipo curso Taller: Proyecto de especialidad. Desarrollando la aplicación para el control de voluntarios y beneficiarios fundación <a href="http://www.chileunido.cl">Chile Unido</a></p>
<h4>2007</h4>
<p>Scrumm Master proyecto SIGEAT-GOMITA. Desarrollando una aplicación para el manejo de cursos, profesores, alumnos y notas de la Escuela de Asistentes Técnicos</p>
<h4>2006</h4>
<p>Desarrollador en proyecto KALI. Desarrollando un sistema para proveer a los alumnos de repositorios de datos perdurable en el tiempo para sus proyectos personales y académicos</p>
<h2>Educación</h2>
<h3>2005 - 2010</h3>
<p>Ingeniero Civil de Industrias, diploma Tecnologías de la Información, <a href="http://www.uc.cl">Pontificia Universidad Católica de Chile</a></p>
<h3>2002 - 2005</h3>
<p>Bachillerato en Ciencias, Pontificia Universidad Católica de Chile</p>
<h2>Conocimientos Técnicos</h2>
<p>Desarrollador de software en variados lenguajes de programación entre los cuales estan C#, Java, Ruby, Python, PHP, ASP.Net, ASP, Visual Basic, Objective-C, C++, C, Matlab, Mathematica, Javascript, Assembler</p>
<p>Conocedor de SQL y sus utilidades para la minería de datos</p>
{% endblock content %}